
.vs/NetworkDetecter/v16/.suo
.vs/NetworkDetecter/v16/Browse.VC.db
.vs/NetworkDetecter/v16/ipch/AutoPCH/1d94cd419b148d31/TCPHANDLER.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/206316e5f8cd90b0/NETWORKDETECTER.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/26a6fa68b22d8b33/NETWORKDETECTER.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/2b2fdb25e5ba769c/UDPHANDLER.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/49523eb1b13e4d92/CONSOLE.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/4d590d0d7453bfb0/NETWORKDETECTER.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/76c60448ed11eb41/CONSOLE.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/8151dc92f7224be2/CONSOLE.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/884952a63ab860a1/MAINHEADER.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/93ec96f03350873f/UDPHANDLER.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/b5746121ba44a33/NETWORKDETECTER.ipch
.vs/NetworkDetecter/v16/ipch/AutoPCH/f70d4fdc3fa4ab82/TCPHANDLER.ipch
